@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@use 'compass/css3';
@use 'compass/reset';
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-image: linear-gradient(-120deg, lightgray 0, #1c0d19 100%, #bcd3d6 200%); }

header {
  margin-bottom: 2em; }

h1 {
  font-size: 2em;
  margin: 2em 0 1em; }

strong {
  font-weight: 700;
  color: #59164a; }

p {
  line-height: 1.4em; }

article header {
  margin: 0; }

.flex-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }

.flex-column {
  flex-direction: column; }
  .flex-column.reverse {
    flex-direction: column-reverse; }

.flex-item_child {
  flex: 1 0 100%; }

.chic-chat {
  display: inline-block;
  width: 44em;
  color: #ffffff;
  margin-bottom: 3em; }
  .chic-chat strong {
    color: #a4a90f;
    font-weight: 300; }
  .chic-chat .introduction {
    position: relative;
    min-height: 26em;
    border-radius: .4em;
    overflow: hidden;
    box-shadow: 0 1.7em 5.5em -0.94em rgba(0, 0, 0, 0.3), 0 2em 3em 0.5em rgba(0, 0, 0, 0.1), 0 1.8em 2em -1.5em rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(-120deg, #b42424 0, #621aa2 100%, #00ff04 200%);
    background-position: 0 0;
    background-size: 300%;
    will-change: background, box-shadow;
    transition: all 0.3s ease-out; }
    .chic-chat .introduction .section-one {
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 100%;
      transform: translate(100%);
      opacity: 0;
      will-change: transform, opacity;
      transition: all 0.6s ease-in-out;
      text-align: left; }
      .chic-chat .introduction .section-one:last-child {
        text-align: center; }
      .chic-chat .introduction .section-one .intro-legend {
        font-size: 1.5em;
        font-weight: 700;
        padding: 1.5em 1.34em 1em;
        line-height: 1em;
        position: relative; }
      .chic-chat .introduction .section-one .intro-item {
        padding: 0em 2em 0em; }
        .chic-chat .introduction .section-one .intro-item label {
          font-size: .8em;
          display: block;
          padding-bottom: .6em;
          opacity: .6; }
        .chic-chat .introduction .section-one .intro-item input {
          font-size: 1em;
          box-sizing: border-box;
          width: 100%;
          border: 0;
          line-height: 1.5em;
          background-color: transparent;
          background-image: linear-gradient(0deg, transparent 0, #e5e5e5 1px), linear-gradient(0deg, transparent 0, #B2FF41 1px);
          background-size: 100% 1px, 0% 1px;
          background-repeat: no-repeat;
          outline: none;
          will-change: background;
          transition: background 0.3s ease-in-out;
          color: white;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300; }
          .chic-chat .introduction .section-one .intro-item input:focus {
            color: white;
            background-size: 0% 1px, 100% 1px; }
            .chic-chat .introduction .section-one .intro-item input:focus + label {
              opacity: 1;
              color: #ffa641; }
          .chic-chat .introduction .section-one .intro-item input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6); }
          .chic-chat .introduction .section-one .intro-item input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6); }
          .chic-chat .introduction .section-one .intro-item input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6); }
          .chic-chat .introduction .section-one .intro-item input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6); }
  .chic-chat .chic-chat_radio {
    display: none; }
  .chic-chat .section-two-triggers {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3.6em;
    border-radius: 0 0 .4em .4em;
    background-color: rgba(0, 0, 0, 0.1);
    will-change: opacity;
    transition: opacity 0.3s ease-in-out; }
    .chic-chat .section-two-triggers:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      width: 0%;
      height: .1em;
      background: rgba(114, 61, 10, 0.4);
      will-change: width;
      transition: width 0.6s ease-in-out; }
    .chic-chat .section-two-triggers .section-two-triggers-item {
      display: none; }
      .chic-chat .section-two-triggers .section-two-triggers-item label {
        display: block;
        padding: 1.2em;
        color: white; }
  .chic-chat .chic-chat_radio:nth-child(1):checked ~ .introduction {
    background-position: 25% 0; }
    .chic-chat .chic-chat_radio:nth-child(1):checked ~ .introduction .section-two-triggers:before {
      width: 33.333%; }
    .chic-chat .chic-chat_radio:nth-child(1):checked ~ .introduction .section-two-triggers .section-two-triggers-item:nth-child(2) {
      display: block; }
  .chic-chat .chic-chat_radio:nth-child(1):checked ~ .introduction .section-one:nth-child(1) {
    opacity: 1;
    transform: translate(0); }
  .chic-chat .chic-chat_radio:nth-child(2):checked ~ .introduction {
    background-position: 50% 0; }
    .chic-chat .chic-chat_radio:nth-child(2):checked ~ .introduction .section-two-triggers:before {
      width: 66.666%; }
    .chic-chat .chic-chat_radio:nth-child(2):checked ~ .introduction .section-two-triggers .section-two-triggers-item:nth-child(3) {
      display: block; }
  .chic-chat .chic-chat_radio:nth-child(2):checked ~ .introduction .section-one:nth-child(2) {
    opacity: 1;
    transform: translate(0); }
  .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction {
    background-position: 75% 0; }
    .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-two-triggers {
      opacity: 0;
      transition-delay: 0.6s; }
    .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-one {
      align-items: center;
      height: 100%; }
      .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-one .intro-preload {
        display: block;
        height: .1em;
        width: 100%;
        box-sizing: border-box;
        margin: 0 2em;
        background-image: linear-gradient(0deg, rgba(124, 255, 59, 0.4) 0%, rgba(255, 0, 76, 0.4) 50%, rgba(114, 61, 10, 0.4) 100%);
        background-size: 0 10em;
        background-position: top center;
        background-repeat: no-repeat;
        will-change: background-image;
        transition: background-image 3s linear;
        animation: preloadLine 3s ease-out forwards; }
        .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-one .intro-preload svg {
          font-size: 1.2em;
          width: auto;
          height: 1em;
          padding: 1em;
          border-radius: 2em;
          background-color: #260426;
          fill: white;
          margin-top: -1.5em;
          transform: scale(0);
          animation: preloadTic .8s linear forwards;
          animation-delay: 3s; }
    .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-two-triggers:before {
      width: 99.999%; }
    .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-two-triggers .section-two-triggers-item:nth-child(4) {
      display: block; }
  .chic-chat .chic-chat_radio:nth-child(3):checked ~ .introduction .section-one:nth-child(3) {
    opacity: 1;
    transform: translate(0); }

@keyframes preloadLine {
  0% {
    background-position: bottom center;
    background-size: 0 10em; }
  100% {
    background-position: top center;
    background-size: 100% 10em; } }
@keyframes preloadTic {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(0.2);
    animation-timing-function: ease-out; }
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in; }
  65% {
    transform: scale(0.9);
    animation-timing-function: ease-out; }
  80%,
    100% {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
